.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 20px 12px;
    gap: 50px;
}

.contacto-imagen img{
    max-width: 80%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.contacto-info {
    max-width: 80%;
}